.login-section {
  width: 100%;
  padding: 100px 0;
}

a {
    text-decoration: none;
    color: #6d6d6d;
}

.login-content {
  width: 40%;
  margin: 0 auto;
}

.login_title {
  font-size: 18px;
  color: #005c7e;
  text-align: center;
  margin-bottom: 17px;
}

.login_form {
  background-color: #fff;
  padding: 0 52px 32px;
  color: #383838;
  box-shadow: 0px 0px 4px 0px rgba(163, 163, 163, 0.5);
  border-radius: 4px;
}

.text {
  padding-top: 25px;
  font-size: 16px;
}

.forget {
  color: #6d6d6d;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  cursor: pointer;
}

.btn_login {
  background: #2196c2;
  height: 46px;
  line-height: 46px;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.go_register {
  font-size: 14px;
  font-weight: 500;
  color: #383838;
  text-align: center;
  margin-top: 18px;
  cursor: pointer;
}

.login_select_wrap {
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  position: relative;
  display: flex;
  align-items: center;
}

.select_code {
  width: 77px;
  padding-left: 15px !important;
}

.select_code,
.phone_input {
  background: none !important;
  outline: none;
  border: none !important;
  padding: 0 !important;
  color: #383838 !important;
  /* height: 26px; */
}
.bg_blue {
  position: absolute;
  top: 5px;
  right: 10px;
  background: #2196c2;
  color: #fff;
  border-radius: 4px;
  width: 80px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.go_register a {
  color: #383838 !important;
  text-decoration: none;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  color: #666;
  padding: 0.75em;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #eaeaea;
  border-radius: 2px;
  background: #fafafa;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.2s linear;
  width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="reset"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  background-color: #fff;
  border-color: #eaeaea;
  box-shadow: none;
}


@media screen and (max-width: 990px) {
  .login-content {
    width: 100%;
  }
}
