<style>
  footer {
    background-color: #d3d3d3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
  }
  .footer {
    max-width: 1140px;
    margin: 0 auto;
    min-height: 60px;
    overflow: hidden;
  }
  .footer p {
    color: #484848;
    font-family: "Roboto";
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
    margin-top: 18px;
  }
</style>
<footer>
    <div class="footer">
        <p>Copyright © 2022 DTB miner All rights reserved</p>
    </div>
</footer>
